<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation form</title>
</head>
<body>
The customer is confirmed:
<p> Customer's first name is: <span th:text="${customer.firstName}"></span> </p>
<p> Customer's last name is: <span th:text="${customer.lastName}"></span> </p>
<p> Free passes: <span th:text="${customer.freePasses}"></span> </p>
<p> Postal code: <span th:text="${customer.postalCode}"></span> </p>
<p> Course code: <span th:text="${customer.courseCode}"></span> </p>
</body>
</html>